<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8"> 
  <ng-container matColumnDef="Time">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
    <td mat-cell *matCellDef="let element"> {{element.Time}} </td>
  </ng-container>
  <ng-container matColumnDef="Side">
    <th mat-header-cell *matHeaderCellDef> Side </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'text-buy':element.Side === 'Buy',
    'text-sell':element.Side === 'Sell'}"> {{element.Side}} </td>
  </ng-container>
  <ng-container matColumnDef="OrderType">
    <th mat-header-cell *matHeaderCellDef> Order Type </th>
    <td mat-cell *matCellDef="let element"> {{element.OrderType}} </td>
  </ng-container>
  <ng-container matColumnDef="CcyPair">
    <th mat-header-cell *matHeaderCellDef>CcyPair</th>
    <td mat-cell *matCellDef="let element"> {{element.CcyPair}} </td>
  </ng-container>
  <ng-container matColumnDef="Price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.Price}} </td>
  </ng-container>
  <ng-container matColumnDef="Amount">
    <th mat-header-cell *matHeaderCellDef> Amount </th>
    <td mat-cell *matCellDef="let element"> {{element.Amount}} </td>
  </ng-container>
  <ng-container matColumnDef="Status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"[ngClass]="{'text-filled':element.Status === 'Filled',
    'text-working':element.Status === 'Working',
    'text-Cancel':element.Status === 'Cancelled'}"> {{element.Status}} </td>
  </ng-container>

  <ng-container matColumnDef="TimeFilter"><th mat-header-cell *matHeaderCellDef></th></ng-container>
  <ng-container matColumnDef="SideFilter"><th mat-header-cell *matHeaderCellDef></th></ng-container>
  <ng-container matColumnDef="OrderFilter"><th mat-header-cell *matHeaderCellDef></th></ng-container>
  <ng-container matColumnDef="ccyPairFilter">
      <th mat-header-cell *matHeaderCellDef> 
          <mat-form-field>
              <input matInput class="form-field"  [formControl]="CcypairFilter" placeholder="Ccy Pair Filter">
            </mat-form-field>
      </th>
  </ng-container>
  <ng-container matColumnDef="PriceFilter"><th mat-header-cell *matHeaderCellDef></th></ng-container>
  <ng-container matColumnDef="AmountFilter"><th mat-header-cell *matHeaderCellDef></th></ng-container>
  <ng-container matColumnDef="statusFilter">
      <th mat-header-cell *matHeaderCellDef> 
          <mat-form-field>
              <input matInput class="form-field"  [formControl]="statusFilter" placeholder="Status Filter">
            </mat-form-field>
           </th>
  </ng-container>
  

  
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-header-row *matHeaderRowDef="['TimeFilter', 'SideFilter','OrderFilter','ccyPairFilter','PriceFilter','AmountFilter','statusFilter'];sticky: true" ></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
